# Allure Reports
/allure-results/
/allure-report/
# Karate Reports
/target/
/karate-reports/

# Karate Logs
/karate.log

# IDE specific files
.idea/
*.iml
*.ipr
*.iws
*.log
/.vscode/

# Maven
log/
*.log
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse
.classpath
.project
.settings/
bin/